<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDlCjmeecOAySWYISHL1CCfXHlAgh4k2lM</string>
	<key>GCM_SENDER_ID</key>
	<string>109564499657</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.renta</string>
	<key>PROJECT_ID</key>
	<string>renta-a150f</string>
	<key>STORAGE_BUCKET</key>
	<string>renta-a150f.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:109564499657:ios:f23997ba47fc0a9aab5f18</string>
	<key>DATABASE_URL</key>
	<string>https://renta-a150f-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>